@import 'tailwindcss';

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    /* Primary brand scale */
    --color-brand-primary-50: var(--color-sky-50);
    --color-brand-primary-100: var(--color-sky-100);
    --color-brand-primary-200: var(--color-sky-200);
    --color-brand-primary-300: var(--color-sky-300);
    --color-brand-primary-400: var(--color-sky-400);
    --color-brand-primary-500: var(--color-sky-500);
    --color-brand-primary-600: var(--color-sky-600);
    --color-brand-primary-700: var(--color-sky-700);
    --color-brand-primary-800: var(--color-sky-800);
    --color-brand-primary-900: var(--color-sky-900);
    --color-brand-primary-950: var(--color-sky-950);

    /* Secondary brand scale */
    --color-brand-secondary-50: var(--color-green-50);
    --color-brand-secondary-100: var(--color-green-100);
    --color-brand-secondary-200: var(--color-green-200);
    --color-brand-secondary-300: var(--color-green-300);
    --color-brand-secondary-400: var(--color-green-400);
    --color-brand-secondary-500: var(--color-green-500);
    --color-brand-secondary-600: var(--color-green-600);
    --color-brand-secondary-700: var(--color-green-700);
    --color-brand-secondary-800: var(--color-green-800);
    --color-brand-secondary-900: var(--color-green-900);
    --color-brand-secondary-950: var(--color-green-950);

    /* Main brand colors */
    --color-main-brand-primary: var(--color-brand-primary-400);
    --color-main-brand-secondary: var(--color-brand-secondary-400);

    /* Backgrounds */
    --color-background-primary: var(--color-white);
    --color-background-secondary: var(--color-brand-primary-100);
    --color-background-accent-primary: var(--color-main-brand-primary);
    --color-background-accent-secondary: var(--color-main-brand-secondary);
    --color-background-strong-primary: var(--color-brand-primary-700);
    --color-background-strong-secondary: var(--color-brand-secondary-700);

    /* Foregrounds */
    --color-foreground-primary: var(--color-gray-800);
    --color-foreground-secondary: var(--color-gray-700);
    --color-foreground-muted: var(--color-gray-500);
    --color-foreground-inverted: var(--color-white);

    --color-foreground-brand-primary: var(--color-main-brand-primary);
    --color-foreground-brand-primary-inverted: var(--color-brand-primary-50);
    --color-foreground-brand-primary-strong: var(--color-brand-primary-600);

    --color-foreground-brand-secondary: var(--color-main-brand-secondary);
    --color-foreground-brand-secondary-inverted: var(--color-brand-secondary-50);
    --color-foreground-brand-secondary-strong: var(--color-brand-secondary-600);

    /* Borders */
    --color-border-default: var(--color-gray-400);
    --color-border-subtle: var(--color-gray-200);
    --color-border-strong: var(--color-gray-600);

    --color-border-brand-primary: var(--color-main-brand-primary);
    --color-border-brand-primary-subtle-: var(--color-brand-primary-200);
    --color-border-brand-primary-strong: var(--color-brand-primary-600);

    --color-border-brand-secondary: var(--color-main-brand-secondary);
    --color-border-brand-secondary-subtle: var(--color-brand-secondary-200);
    --color-border-brand-secondary-strong: var(--color-brand-secondary-600);

    /* States */
    --color-state-success: var(--color-emerald-500);
    --color-state-warning: var(--color-amber-400);
    --color-state-error: var(--color-red-500);
    --color-state-info: var(--color-sky-500);
}

@layer base {
    body {
        @apply bg-background-primary text-foreground-secondary overflow-x-hidden font-sans antialiased;
    }

    main {
        @apply min-h-svh;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-foreground-primary tracking-tight;
    }

    h1 {
        @apply text-center text-4xl;
    }

    h2 {
        @apply text-3xl;
    }

    h3 {
        @apply text-2xl;
    }

    h4,
    h5,
    h5 {
        @apply text-xl;
    }
}

@layer components {
    /* --- BUTTON --- */
    .btn {
        @apply mx-auto flex w-fit cursor-pointer items-center justify-center gap-1 rounded-xl whitespace-nowrap transition;
    }

    /* Sizes */
    .btn-sm {
        @apply p-3 text-base;
    }

    .btn-md {
        @apply p-4 text-base sm:text-lg;
    }

    .btn-lg {
        @apply gap-4 px-8 py-4 text-xl sm:text-2xl;
    }

    /* Variants */
    .btn-solid.btn-primary {
        @apply bg-background-accent-primary hover:bg-brand-primary-300 text-foreground-inverted;
    }

    .btn-solid.btn-secondary {
        @apply bg-background-accent-secondary hover:bg-brand-secondary-300 text-foreground-inverted;
    }

    .btn-solid.btn-gradient {
        @apply from-background-accent-primary to-background-accent-secondary hover:from-brand-primary-300 hover:to-brand-secondary-300 text-foreground-inverted bg-linear-to-tl;
    }

    .btn-outline.btn-primary {
        @apply border-border-brand-primary text-foreground-brand-primary hover:bg-background-accent-primary hover:border-border-brand-primary hover:text-foreground-inverted border-2 bg-transparent;
    }

    .btn-outline.btn-secondary {
        @apply border-border-brand-secondary text-foreground-brand-secondary hover:bg-background-accent-secondary hover:border-border-brand-secondary hover:text-foreground-inverted border-2 bg-transparent;
    }

    .btn-outline.btn-gradient {
        @apply border-border-brand-secondary text-foreground-brand-primary to-background-accent-secondary from-background-accent-primary hover:border-border-brand-secondary hover:text-foreground-inverted border-2 bg-transparent hover:bg-linear-to-tl;
    }

    .btn-ghost.btn-primary {
        @apply text-foreground-brand-primary hover:text-foreground-inverted hover:bg-background-accent-primary bg-transparent;
    }

    .btn-ghost.btn-secondary {
        @apply text-foreground-brand-secondary hover:text-foreground-inverted hover:bg-background-accent-secondary bg-transparent;
    }

    .btn-ghost.btn-gradient {
        @apply text-foreground-brand-primary hover:text-foreground-inverted from-background-accent-primary to-background-accent-secondary bg-transparent hover:bg-linear-to-tl;
    }

    /* --- TABLE --- */
    .table-base {
        @apply w-full border-collapse;
    }

    .table-base th {
        @apply bg-background-secondary px-4 py-3 text-left font-semibold;
    }

    .table-base td {
        @apply px-4 py-3;
    }

    .table-base tr {
        @apply border-border-brand-primary border-b;
    }
}
